*,
*::before,
*::after {
  box-sizing: border-box;
}

.carousel__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  height: 63vh;
}

.scene {
  width: 700px;
  height: 600px;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  object-fit: cover;
}

.carousel__cell {
  position: absolute;
  width: 600px; /* ← más ancho */
  height: 500px; /* ← más alto */
  object-fit: cover; /* asegura que la imagen cubra todo el espacio */
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel__cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Muy importante */
  display: block;
}

.buttons {
  margin-top: 20px;
}

button {
  background: #29b6f6;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  margin: 0 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
  .carousel__wrapper {
    height: 53vh;
  }

  .carousel__cell {
    width: 300px; /* ← más ancho */
    height: 200px; /* ← más alto */
  }

  .scene {
  width: 300px;
  height: 200px;
}

}
