.carousel-container {
  width: 100%;
  height: 50vh;
  position: relative;
  perspective: 1500px;
}

.carousel {
  position: absolute;
  top: 25%;
  left: 50%;
  transform-style: preserve-3d;
  transition: none;
}

.carousel.active {
  transition: transform 1s ease-in-out;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.carousel-item img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-container {
    height: 30vh;
  }

  .carousel-item img {
    width: 250px;
    height: 150px;
  }

  .carousel {
    transform: translate(-50%, -50%) translateZ(-400px) rotateY(0deg);
  }
}

@media screen and (min-width: 100px) and (max-width: 767px) {
  .carousel-container {
    height: 30vh;
  }

  .carousel-item img {
    width: 200px;
    height: 150px;
  }

  .carousel {
    transform: translate(-50%, -50%) translateZ(-300px) rotateY(0deg);
  }
}
